.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "GmarketSansMedium", sans-serif;
  text-align: center;
  background-color: #5b2386;
  color: #fff;
  font-size: 2.4rem;
}
